flows.json
[{"id":"61b5ff97.037e4","type":"geofence","z":"5fbcc871.87cc98","name":"tejo","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":38.705091956309424,"longitude":-9.1443913243711},{"latitude":38.70515893638766,"longitude":-9.144026543945074},{"latitude":38.704911947038234,"longitude":-9.143903162330389},{"latitude":38.70516312264048,"longitude":-9.143189694732428},{"latitude":38.705127343253096,"longitude":-9.14313311688602},{"latitude":38.70514618139714,"longitude":-9.142964137718081},{"latitude":38.70522572017275,"longitude":-9.142712010070682},{"latitude":38.70528014138929,"longitude":-9.142532302066684},{"latitude":38.70539794486641,"longitude":-9.142203144729137},{"latitude":38.70552353192425,"longitude":-9.141548685729504},{"latitude":38.705340122417724,"longitude":-9.141442403197289},{"latitude":38.70585921458144,"longitude":-9.139532670378685},{"latitude":38.70611038685613,"longitude":-9.138373956084251},{"latitude":38.70627783454907,"longitude":-9.138438329100609},{"latitude":38.7067817450843,"longitude":-9.136552065610886},{"latitude":38.70661429857147,"longitude":-9.136037081480026},{"latitude":38.70684872357967,"longitude":-9.135650843381882},{"latitude":38.706762253283856,"longitude":-9.135196711868046},{"latitude":38.70643991830962,"longitude":-9.13488021120429},{"latitude":38.70681667333092,"longitude":-9.134231116622686},{"latitude":38.707092959084825,"longitude":-9.133190419524908},{"latitude":38.707289707379914,"longitude":-9.132686164230106},{"latitude":38.70753250240204,"longitude":-9.132836367934942},{"latitude":38.70820345483253,"longitude":-9.13116417825222},{"latitude":38.70915787348895,"longitude":-9.129082784056664},{"latitude":38.70848810734409,"longitude":-9.128546342253685},{"latitude":38.708337409096785,"longitude":-9.12891112267971},{"latitude":38.70811973328991,"longitude":-9.128610715270042},{"latitude":38.709609962089715,"longitude":-9.125949963927269},{"latitude":38.71001181622374,"longitude":-9.12515603005886},{"latitude":38.711301082988015,"longitude":-9.124083146452904},{"latitude":38.71195407936163,"longitude":-9.12343941628933},{"latitude":38.71311695276532,"longitude":-9.122032932937143},{"latitude":38.714925189869156,"longitude":-9.12015538662672},{"latitude":38.697350755941606,"longitude":-9.106357097625732},{"latitude":38.69252750337133,"longitude":-9.14137601852417}],"centre":{},"x":330,"y":480,"wires":[["766e72b9.bbb3bc","87fd0aab.42d438"]]},{"id":"1c0559e7.e43f86","type":"mqtt in","z":"5fbcc871.87cc98","name":"gira_gps_mockup@hivemq","topic":"gira_gps_mockup","qos":"2","broker":"6678bb52.21c614","x":150,"y":340,"wires":[["ec9109.cddfcef8"]]},{"id":"766e72b9.bbb3bc","type":"debug","z":"5fbcc871.87cc98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":480,"wires":[]},{"id":"ec9109.cddfcef8","type":"json","z":"5fbcc871.87cc98","name":"","property":"payload","action":"","pretty":false,"x":230,"y":420,"wires":[["61b5ff97.037e4"]]},{"id":"9bb66ad1.15b548","type":"mqtt out","z":"5fbcc871.87cc98","name":"broker.hivemq.com ","topic":"","qos":"","retain":"","broker":"6678bb52.21c614","x":610,"y":160,"wires":[]},{"id":"afd5d8a2.3b29e8","type":"inject","z":"5fbcc871.87cc98","name":"inject:{\"lat\":38.706207,\"lon\":-9.135224}","topic":"gira_gps_mockup","payload":"{\"lat\":38.706207,\"lon\":-9.135224}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["9bb66ad1.15b548"]]},{"id":"a3a328cc.854d38","type":"inject","z":"5fbcc871.87cc98","name":"inject:{\"lat\":38.721,\"lon\":-9.134744}","topic":"gira_gps_mockup","payload":"{\"lat\":38.721,\"lon\":-9.134744}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["9bb66ad1.15b548"]]},{"id":"87fd0aab.42d438","type":"switch","z":"5fbcc871.87cc98","name":"inarea","property":"location.inarea","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":420,"wires":[["5fc05103.e1e51"]]},{"id":"8fda6f09.26d1a","type":"comment","z":"5fbcc871.87cc98","name":"tejo","info":"","x":371,"y":146,"wires":[]},{"id":"45d73147.c6781","type":"comment","z":"5fbcc871.87cc98","name":"intendente","info":"","x":381,"y":224,"wires":[]},{"id":"5fc05103.e1e51","type":"debug","z":"5fbcc871.87cc98","name":"caiu ao rio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":420,"wires":[]},{"id":"dfd4997e.cf00f8","type":"comment","z":"5fbcc871.87cc98","name":"geofence","info":"","x":375,"y":505,"wires":[]},{"id":"4f027574.00da8c","type":"comment","z":"5fbcc871.87cc98","name":"gps@bicla","info":"","x":116,"y":71,"wires":[]},{"id":"62a118ad.49c098","type":"comment","z":"5fbcc871.87cc98","name":"app@servidor","info":"","x":94,"y":293,"wires":[]},{"id":"6678bb52.21c614","type":"mqtt-broker","z":"","name":"broker.hivemq.com ","broker":"broker.hivemq.com ","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]